//- h1
//-   - const nameUp = name.toUpperCase();
//-   | Hello 
//-   em #{nameUp}

//- img(src='ima.png' alt=`${nameUp}`)

extends layout

block content
  h1 hello pricisi next kiss #{h.moment().endOf('hour').fromNow()}